

#roll {
  background-color: #44DDDB;
}

#hold {
  background-color: #AF577D;
}

#reset {
  background-color: #F5BF5F;
}

#dieRoll{
  width: 80px;
  height: 80px;
}

body {
  background-image: url("../img/bg.png");
  background-size:auto;
  font-family: 'Raleway', sans-serif;

}

button {
  width: 81px;
}

h1{
  color: #fff;
  font-family: 'Raleway', sans-serif;
  text-shadow: 2px 2px #000;
}

h4{
  color: #fff;
  text-shadow: 1px 1px #000;
}

.btn {
  font-weight: bold;
  font-size: 1.2em;
  color: #fff;
}

/*#die1, #die2, #die3, #die4, #die5, #die6 {
  display: none;
}*/

#dieRoll {
  margin: auto;
}

#gameEnd {
  display:none;
}

#player1Box, #player2Box {
  width: 250px;
  margin-top: 150px;
  box-shadow: 2px 2px 10px #333;
}


#scoreBox {
  width: 250px;
  box-shadow: 2px 2px 10px #333;
}

#diceResult {
  width: 250px;
  box-shadow: 2px 2px 10px #333;
}

.well2 {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #fa9eac;
  border: 3px solid #F7667C;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 2px 2px 10px #333;

}
